.wp-block-dbw-immo-grid {
    .models-preview-placeholder {
        background: #f0f0f1;
        border: 1px dashed #757575;
        padding: 24px;
        text-align: center;

        .components-placeholder__label {
            font-weight: 600;
            margin-bottom: 12px;
            color: #1e1e1e;
        }

        .components-placeholder__fieldset {
            color: #555;
            font-size: 13px;

            ul {
                list-style: none;
                padding: 0;
                margin-top: 10px;

                li {
                    display: inline-block;
                    margin: 0 5px;
                    background: #fff;
                    padding: 3px 8px;
                    border-radius: 3px;
                    border: 1px solid #ddd;
                }
            }
        }
    }
}