.wp-block-dbw-immo-references {
    border: 1px dashed #ccc;
    padding: 20px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
}